<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado <%= @name %></h1>
    <p>
      Hemos recibido su solicitud para contratar un plan <%= @plan.name %>.
    </p>
    <p>
      Para iniciar su subscripción debe depositar $<%= @plan.price %> en la siguiente cuenta y enviar el comprobante a contacto@firmaexpress.com
      Razón Social: Inversiones Pentaurus S.p.A.<br><br>
      Banco: BCI<br><br>
      Numero de cuenta: 86469045<br><br>
      Representante: Abigail Elizabeth Morales Rojas<br><br>
      RUT: 15.570.349-0
    </p>
  </body>
</html>