<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola!</h1>
    <p>
      Mensaje de contacto<br>
    </p>
    <p>
     Nombre usuario: <%= @name  %><br><br>
     Correo Electrónico: <%= @email  %><br><br>
     Mensaje: <%= @message %><br><br>
    </p>
    <p>Muchas gracias!</p>
  </body>
</html>