<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      /* --------------Mailing-------------- */

      #mailing {max-width:500px;min-width:400px;height:300px;border:1px solid #175892;margin:20px auto 5px;}
      #mailingheader {background-color:#175892;width:100%;height:30px;text-align:center;padding:10px 0;}
      #mailingheader img {text-align:center;}
      #mailcontainer {padding:25px;text-align:center;}
      #mailcontainer h1 {font-size:16px;margin:0 0 10px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
      #mailcontainer p {color:#333;padding:0 15px;font-family: 'Lato', sans-serif;}
      #mailingfooter {max-width:500px;min-width:400px;margin:0 auto;}
      #mailingfooter p {color:#333;text-align:right;font-size:10px;color:#175892;font-family: 'Lato', sans-serif;}
      #mailcontainer a.signUpButton {
          color: #FFF;
          font-weight: bold;
          padding: 8px 20px;
          display: inline-block;
          background-color: #39F;
          border: 1px solid #39F;
        font-family: 'Lato', sans-serif;
        margin-top:25px;
      }
      #mailcontainer a.signUpButton:hover {
          color: #175892;
          border: 1px solid #175892;
          background-color: #CCC;
      }
    </style>
  </head>
  <body>
    <div id="mailing">
      <div id="mailingheader">
        <%= image_tag "FirmaExpress2.png", { height: 28 } %>
      </div>
      <div id="mailcontainer">
        <h1>¡Bienvenido a Firma Express!</h1>

        <p><strong>Estimado,</strong></p></br>

        <p>
        Has sido invitado por "Nombre del emisor" para firmar el documento <%= @document.name %>. Si quieres firmarlo también, te invitamos a ingresar al siguiente link:
        </p>

        <a class="signUpButton" href="<%= @url %>">Ir al documento</a>
      </div>
    </div>
    <div id="mailingfooter">
      <p>© 2014 FirmaExpress</p>
    </div>
  </body>
</html>