<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola!</h1>
    <p>
      Has sido invitado para firmar el documento <%= @document.name %>.<br>
    </p>
    <p>
      Para acceder al documento se le solicita seguir el siguiente link <%= @url %>.
    </p>
    <p>Muchas gracias!</p>
  </body>
</html>