<% content_for :js do %>
<%= javascript_include_tag "angular.min.js" %>
	<script type="text/javascript">
		/* Se inicializa la aplicación y la almacena en app*/
		var app = angular.module("FEFront", []);
		/* Crea el controlador llamado "ProfileController"*/
		app.controller("ProfileController", function($scope, $http){
		/*Llamamos a users controller metodo profile*/		
			$http.get('../profile.json').success(function(data) {
				$scope.user = data;
				console.log(data);
			});

			$scope.updateprofile = function(campo, valor){
				$http.get('../users/update_profile.json?campo='+campo+'&valor='+valor).success(function(data) {
					console.log(data);

				});
			} 
		});

		$(document).on("ready", function () {
			$("button").on("click", function () {
			    var id = $(this).parent().attr('id');
			    console.log('#' + id + " .hiddable");
			    $('#' + id + " .hiddable").toggleClass("show");
			});
		});
	</script>
<% end %>
		


<div id="containerdocumentos">
<div id="headline">
<h3>Configuración del Perfil</h3>
</div>
<div id="biblioteca">
<div id="itemactive"><a href="nuevodocumento.html"><h4>Mis Datos</h4></a></div>
<div id="item"><a href="nuevodocumento.html"><h4>Estadísticas</h4></a></div>
<div id="item"><a href="nuevodocumento.html"><h4>Preguntas Frecuentes</h4></a></div>
<div id="item"><a href="nuevodocumento.html"><h4>Condiciones Legales</h4></a></div>
<div id="item"><a href="nuevodocumento.html"><h4>Seguridad y Privacidad</h4></a></div>
</div>
<div id="optionsdocumento"></div>
<div id="perfil" ng-controller="ProfileController">
<div id="perfildatos">
<h5>Datos Personales</h5>
	<img class="img-circle" style="margin-top: -1px; margin-left: 30px" src="<%=root_url + current_user.avatar.to_s %>" width=80 height=80>
	<p><span class="hiddable show" >
	    Rut: {{user.id_number}}
	 </span></p>
	<p id="first_name">
		<span class="hiddable show">
	        Nombre: {{user.first_name}}
	    </span>
	    <span class="hiddable">
	        <input type="text" ng-model="user.first_name"/>
	    </span>
	    <button class="hiddable show">Editar</button>
	    <button class="hiddable" ng-click="updateprofile('first_name', user.first_name)">Guardar</button><br>
    </p>
    <!--fin-->
    <p id="lastname">
		<span class="hiddable show">
	        Apellido: {{user.last_name}}
	    </span>
	    <span class="hiddable">
	        <input type="text" ng-model="user.last_name"/>
	    </span>
	    <button class="hiddable show">Editar</button>
	    <button class="hiddable" ng-click="updateprofile('last_name', user.last_name)">Guardar</button><br>
	</p>
    <!--fin-->
    <p id="email">
	    <span class="hiddable show">
	        Email: {{user.email}}
	    </span>
	    <span class="hiddable">
	        <input type="text" ng-model="user.email"/>
	    </span>
	    <button align="right" class="hiddable show">Editar</button>
	    <button class="hiddable" ng-click="updateprofile('email', user.email)">Guardar</button><br>
	</p>
	<br>
	<h5>Firmas</h5>
	<p>Nº de Firmas: 100</p>
	<br>
	<h5>Documentos</h5>
	<p>Nº de Documentos: 100</p>
	<br>
	<h5>Datos de Usuario</h5>
	<p>Usuario desde: 01/01/2014</p>
	<br>
	<h5>Otros Datos</h5>
	<p>Dato: Valor</p>
	<p>Dato: Valor</p>
	<p>Dato: Valor</p>
</div>
<div id="perfilestadisticas">
<h5>Estadísticas de Actividad</h5>
<p>Datos</p>
</div>
</div>
<div id="importante"><p class="datosextra">Información importante acerca de los usuarios y la legalidad del sistema o seguridad de los datos.</p></div>
</div>