<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>Quiénes Somos</h3>
	</div>
	<div id="info">
		<br>
		<h3>FIRMAEXPRESS</h3>
		<br>
		<p><strong>FIRMAEXPRESS</strong> es una empresa conformada por un equipo multidisciplinario de profesionales, ejecutivos y consultores, especializados en innovación, seguridad y desarrollo de nuevas tecnologías. Nuestro objetivo es dar solución a las necesidades actuales de empresas y emprendedores, optimizando el desarrollo de sus negocios.</p>
		<br>
<p>A través de nuestros servicios queremos entregar soluciones simples y efectivas para la gestión y administración de sus documentos importantes, ya que contamos con el mejor servicio de firma electrónica, ayudando a generar y consolidar la confianza con sus socios, empleados, clientes y proveedores. <strong>FIRMAEXPRESS</strong> logra mejorar de manera efectiva los vínculos entre las partes, manteniendo en orden todas sus actividades y llevando un registro de ellas, todo de manera remota, evitando hacerle perder tiempo en trámites innecesarios y tediosos.</p>
<br>
<p><strong>FIRMAEXPRESS</strong> es un innovador sistema de <strong>firma 100% online</strong>, el cual le permitirá a usted o a su empresa obtener una solución efectiva y en pocos pasos para la gestión de sus proyectos, sin complicaciones ni mecanismos engorrosos de implementación.</p>
<br>
<p><strong>SEGURO, CONFIABLE y EFECTIVO</strong>, la mejor herramienta para usted o su empresa.</p>
		<br>
		<br>
			</div>
</div>
<%= render "layouts/footer" %>