<% content_for :title do %>
- Beneficios
<% end %>
<div id="container">
	<div id="headline">
		<h3>Beneficios</h3>
	</div>
	<div id="info">
		<p><strong>FIRMAEXPRESS</strong> ofrece a Empresas, Consultores, Freelancers una gama de servicios especialmente diseñados para atender sus necesidades, en orden a:</p>
		</br>
<ul>
<li>Aumentar la productividad.</li>
<li>Mejorar los procesos internos.</li>
<li>Optimizar el tiempo.</li>
<li>Gestionar la confianza con Socios, Clientes y Proveedores.</li>
<li>Aumentar la transparencia.</li>
<li>Ayudar a formar el consentimiento.</li>
<li>Optimizar la imagen de tu empresa.</li>
</ul>
</br></br>
<h3>Características del servicio:</h3>
</br>
<p><strong>Firma Remota de Documentos:</strong> Puedes crear y enviar tus documentos sin salir de tu casa u oficina, y compartirlo con otros destinatarios quienes podrán también firmar dichos documentos en forma remota.</p>
</br>
<p><strong>Configuración de Niveles de Firma:</strong> Puedes contar con dos niveles de firma según el nivel de seguridad que desees vincular al documento que generes.</p>
</br>
<p><strong>Sellado de Tiempo:</strong> Cada documento una vez firmado por todo pasa a quedar en estado de “sellado”, es decir, queda inmodificable por cualquiera de las partes que ha concurrido con su firma.</p>
</br>
<p><strong>Repositorio Virtual Seguro:</strong> Puedes guardar documentos y contratos en un repositorio virtual seguro (SSL), contribuyendo al Paperless y a la gestión de documentos.</p>
</br>
<p><strong>Verificación de Documentos:</strong> Puedes verificar la autenticidad de los mismos por terceros de manera simple, a través del código QR que es único por cada documento en nuestro sistema.</p>
</br></br>
<h3>Algunos casos de uso:</h3>
</br>
<%= image_tag "team.png", { width: 450} %>
<div id="tableContainer">
				<table class="benefitsTableContent">
					<!-- Table Content -->
					<tbody>
						<tr class="altRow2">
							<td><strong>Independientes</strong></td>
							<td class="noBorder"><strong>Empresas</strong></td>
						</tr>
						<tr>
							<td>Cotizaciones y Presupuestos</td>
							<td class="noBorder">Acuerdos consensuales con directorio</td>
						</tr>
						<tr class="altRow">
							<td>Ordenes de Compra</td>
							<td class="noBorder">Cartas GANTT</td>
						</tr>
						<tr>
							<td>Notificaciones</td>
							<td class="noBorder">Acuerdos con clientes</td>
						</tr>
						<tr class="altRow">
							<td>Recibos de dinero</td>
							<td class="noBorder">Acuerdos con proveedores</td>
						</tr>
						<tr>
							<td>Acuerdos Consensuales</td>
							<td class="noBorder">Notificaciones internas</td>
						</tr>
						<tr class="altRow">
							<td>Validación de Currículums</td>
							<td class="noBorder">Declaraciones Juradas</td>
						</tr>
						<tr>
							<td>Validación de Recomendaciones laborales</td>
							<td class="noBorder">Inventarios</td>
						</tr>
						<tr class="altRow">
							<td>Diplomas y Certificados</td>
							<td class="noBorder"></td>
						</tr>
						</tbody>
				</table>
			</div> <!-- end tableContainer -->
			</br>
			<div id="tableContainer">
				<table class="benefitsTableContent">
					<!-- Table Content -->
					<tbody>
							<tr class="altRow2">
							<td class="noBorder" colspan="2"><strong>Contamos con productos específicos para:</strong></td>
						</tr>
						<tr class="altRow">
							<td class="noBorder" colspan="2">Bancos</td>
						</tr>
						<tr>
							<td class="noBorder" colspan="2">Universidades, Institutos, OTEC y otras entidades de Capacitación</td>
						</tr>
						<tr class="altRow">
							<td class="noBorder" colspan="2">Corredores de Propiedades</td>
						</tr>
						<tr>
							<td class="noBorder" colspan="2">Administradores de Condominios</td>
						</tr>
						<tr class="altRow">
							<td class="noBorder" colspan="2">Startups y Plataformas Online</td>
						</tr>
						<tr>
							<td class="noBorder" colspan="2">Asociaciones de Empresas</td>
						</tr>
						<tr class="altRow">
							<td class="noBorder" colspan="2">Organizaciones</td>
						</tr>
						<tr>
							<td class="noBorder" colspan="2">Productoras</td>
						</tr>
						<tr class="altRow">
							<td class="noBorder" colspan="2">Agencias</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- end tableContainer -->
			</br></br>
<p><strong>Si su empresa necesita una solución diferente</strong> estamos igualmente disponibles a revisar su caso. Podemos generar una evaluación y diagnóstico, integrar nuestro sistema a otros existentes, y realizar desarrollos específicos según la necesidad de su empresa.</p>
</br>
	</div>
</div>
<%= render "layouts/footer" %>