<% content_for :title do %>
Planes
<% end %>
<% content_for :style do %>
<% stylesheet_link_tag "master.scss" %>
<% stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:400,700" %>
<% stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald" %>
<% end %>
<div id="container">
	<div id="headline">
		<h3>¿Qué Ofrecemos?</h3>
	</div>
	<div id="infoprices">
		<h3>Básico</h3><h3>Profesional</h3><h3>Premium</h3>
		<div id="pageContainer">
			<div id="tableContainer">
				<table class="pricingTableContent">
					<!-- Table Content -->
					<tbody>
						<tr class="altRow2">
							<td><strong>$30.000</strong></td>
							<td><strong>Consultar</strong></td>
							<td class="noBorder"><strong>Consultar</strong></td>
						</tr>
						<tr>
							<td><strong>25 Documentos</strong></td>
							<td><strong>50 Documentos</strong></td>
							<td class="noBorder"><strong>100 Documentos</strong></td>
						</tr>
						<tr class="altRow">
							<td><strong>5 Firmantes</strong> / Documento</td>
							<td><strong>10 Firmantes</strong> / Documento</td>
							<td class="noBorder"><strong>20 Firmantes</strong> / Documento</td>
						</tr>
						<tr>
							<td>Descarga de Documentos</td>
							<td>Descarga de Documentos</td>
							<td class="noBorder">Descarga de Documentos</td>
						</tr>
						<tr class="altRow">
							<td>Repositorio virtual de Documentos</td>
							<td>Repositorio virtual de Documentos</td>
							<td class="noBorder">Repositorio virtual de Documentos</td>
						</tr>
						<tr>
							<td>Sellado de tiempo</td>
							<td>Sellado de tiempo</td>
							<td class="noBorder">Sellado de tiempo</td>
						</tr>
						<tr class="altRow">
							<td>Soporte en 24 horas</td>
							<td>Soporte en 24 horas</td>
							<td class="noBorder">Soporte en 24 horas</td>
						</tr>
						<tr>
							<td>Reportes mensuales de uso/actividad</td>
							<td>Reportes mensuales de uso/actividad</td>
							<td class="noBorder">Reportes mensuales de uso/actividad</td>
						</tr>
						<tr class="altRow">
							<td><em>*Precios vigentes para el 2014.</em></td>
							<td><em>*Precios vigentes para el 2014.</em></td>
							<td class="noBorder"><em>*Precios vigentes para el 2014.</em></td>
						</tr>
						<tr class="signUpRow">
							
							<td><a href="/contact" class="signUpButton">Consultar</a></td>
							<td><a href="/contact" class="signUpButton">Próximamente</a></td>
							<td class="noBorder"><a href="/contact" class="signUpButton">Próximamente</a></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- end tableContainer -->
		</div> <!-- end pageContainer -->
	</div>
</div>
<footer>
	<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
	<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>