<% content_for :title do %>
- Planes
<% end %>
<% content_for :style do %>
<% stylesheet_link_tag "master.scss" %>
<% stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:400,700" %>
<% stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald" %>
<% end %>
<div id="container">
	<div id="headline">
		<h3>¿Qué Ofrecemos?</h3>
	</div>
	<div id="infoprices">
		<h3><%= image_tag "independent.png", { width: 100} %></br></br>Persona</h3><h3><%= image_tag "smallcompany.png", { width: 100} %></br></br>Small Business</h3><h3><%= image_tag "company.png", { width: 100} %></br></br>Corporate</h3>
		<div id="pageContainer">
			<div id="tableContainer">
				<table class="pricingTableContent">
					<!-- Table Content -->
					<tbody>
						<tr class="altRow2">
							<td><strong>$3.000 / mes</strong></td>
							<td><strong>$12.500 / mes</strong></td>
							<td class="noBorder"><strong>$30.000 / mes</strong></td>
						</tr>
						<tr>
							<td><strong>300 Documentos</strong></td>
							<td><strong>1.500 Documentos</strong></td>
							<td class="noBorder"><strong>4.500 Documentos</strong></td>
						</tr>
						<tr class="altRow">
							<td><strong>Personal</strong></td>
							<td><strong>Máx. 5 usuarios</strong></td>
							<td class="noBorder"><strong>Máx. 15 usuarios</strong></td>
						</tr>
						<tr>
							<td>Descarga de Documentos</td>
							<td>Descarga de Documentos</td>
							<td class="noBorder">Descarga de Documentos</td>
						</tr>
						<tr class="altRow">
							<td>Repositorio virtual de Documentos</td>
							<td>Repositorio virtual de Documentos</td>
							<td class="noBorder">Repositorio virtual de Documentos</td>
						</tr>
						<tr>
							<td>Sellado de tiempo</td>
							<td>Sellado de tiempo</td>
							<td class="noBorder">Sellado de tiempo</td>
						</tr>
						<tr class="altRow">
							<td>Soporte en 24 horas</td>
							<td>Soporte en 24 horas</td>
							<td class="noBorder">Soporte en 24 horas</td>
						</tr>
						<tr>
							<td>Reportes mensuales de uso/actividad</td>
							<td>Reportes mensuales de uso/actividad</td>
							<td class="noBorder">Reportes mensuales de uso/actividad</td>
						</tr>
						<tr class="altRow">
							<td class="celeste"><em>*$35.000 por comprar el plan anual.</em></td>
							<td><em></em></td>
							<td class="noBorder"><em></em></td>
						</tr>
						<tr class="signUpRow">
							
							<td><a href="/contact" class="signUpButton">Contratar</a></td>
							<td><a href="/contact" class="signUpButton">Contratar</a></td>
							<td class="noBorder"><a href="/contact" class="signUpButton">Contratar</a></td>
						</tr>
						<tr class="altRow">
							<td class="celeste" colspan="3"><em>*Precios vigentes para el 2014.</em></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- end tableContainer -->
		</div> <!-- end pageContainer -->
	</div>
</div>
<%= render "layouts/footer" %>