<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>Registrate con nosotros</h3>
	</div>
	<div id="info">
		<form action="register.php" method="post">
			<label for="nombre">Nombre:</label>
			<input id="nombre" type="text" name="nombre" required="">
			<label for="apellido">Apellido:</label>
			<input id="apellido" type="text" name="apellido" required="">
			<label for="email">Mail:</label>
			<input id="email" type="email" name="email" required="">
			&nbsp;
			<p>Informción importante sobre el registro, derechos, seguridad, etc. Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc..</p>
			<input id="submit" type="submit" name="submit" value="Registrarme">
		</form>
		&nbsp;
		<p class="datosextra">*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.</p>
	</div>
</div>
<footer>
	<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
	<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>