<% content_for :title do %>
- Condiciones Generales
<% end %>
<div id="container">
	<div id="headline">
		<h3>Condiciones Generales</h3>
	</div>
	<div id="info">
		<h3>CONDICIONES GENERALES DE USO WEB Y CONTRATACIÓN DE FIRMAEXPRESS</h3>
		<br>
		<ol style="list-style-type:upper-roman;">
			<li>CONDICIONES DE USO DE LA WEB DE FIRMAEXPRESS
				<ol>
					<li>TITULAR DEL SITIO WEB Y DESCRIPCIÓN</li>
					<li>CONDICIONES GENERALES DE USO DEL SITIO WEB</li>
					<li>PROPIEDAD INTELECTUAL</li>
					<li>OBLIGACIONES DEL USUARIO</li>
					<li>PROTECCION DE DATOS PERSONALES</li>
					<li>JURISDICCIÓN Y LEY APLICABLE</li>
				</ol>
			</li>
			<li>CONDICIONES GENERALES DE CONTRATACIÓN DEL SERVICIO DE FIRMAEXPRESS
				<ol>
					<li>OBJETO</li>
					<li>CARACTERÍSTICAS DEL SERVICIO</li>
					<li>DURACIÓN DEL CONTRATO</li>
					<li>PRECIOS, FACTURACIÓN Y PAGO</li>
					<li>SECRETO DE LAS COMUNICACIONES</li>
					<li>PROPIEDAD INTELECTUAL E INDUSTRIAL</li>
					<li>PROTECCIÓN DE DATOS PERSONALES</li>
					<li>TERMINACIÓN</li>
					<li>GARANTÍAS</li>
					<li>MODIFICACIONES CONTRACTUALES</li>
					<li>LEGISLACIÓN Y FUERO</li>
				</ol>
			</li>
		</ol>
		<ol style="list-style-type:upper-roman;">
			<li>CONDICIONES DE USO DE LA WEB
				<ol>
					<li>TITULAR DEL SITIO WEB
						<p>FIRMAEXPRESS.com es una empresa chilena representada actualmente por INVERSIONES PENTAURUS S.p.A., RUT: 76.146.538-4 con domicilio en Av. Nueva Providencia 1881, of.1515, Providencia. Santiago, Chile.</p>
					</li>
					<li>CONDICIONES GENERALES DEL USO DEL SITIO WEB
						<p>La aceptación por el usuario de las presentes Condiciones Generales de Uso es condición indispensable para la utilización del sitio web. El usuario otorga su consentimiento y reconoce ser mayor de 18 años y tener capacidad legal suficiente para contratar al visitar el sitio web, usar sus servicios y/o registrar una cuenta de usuario.</p>
						<p>El acceso al sitio web se encuentra condicionado a la previa lectura y aceptación por parte de cualquier usuario de los términos, condiciones, comunicaciones, advertencias y demás avisos legales contenidos en el presente clausulado.</p>
						<p>El idioma en que se regirá la relación contractual es español, sin perjuicio de que las presentes Condiciones Generales o las Condiciones de Contratación sean traducidas a diferentes idiomas para favorecer la accesibilidad de los clientes internacionales.</p>
						<p>FIRMAEXPRESS podrá archivar los documentos relativos a la relación contractual y guardar constancia de la aceptación de los mismos.</p>
						<p>FIRMAEXPRESS se reserva el derecho a modificar las presentes Condiciones Generales sin previo aviso, sin que dicha modificación afecte a los contratos realizados previamente. No obstante, estos cambios serán comunicados a los usuarios, quienes podrán aceptarlos en el primer acceso al sitio web tras implementar los mismos. Si algún apartado de las presentes Condiciones Generales resultara nulo o anulable en todo o parte, será omitido del mismo sin afectar a la validez del resto del documento.</p>
						<p>FIRMAEXPRESS pone a disposición de los usuarios el siguiente formulario para reportar cualquier uso indebido o malintencionado del sitio web, así como cualquier error detectado en el uso del mismo. FIRMAEXPRESS podrá denegar el acceso al sitio web a aquellos usuarios que incumplan cualquiera de las Condiciones Generales en vigor sin que por ello se genere, en ningún caso, derecho alguno de indemnización o resarcimiento para el usuario al que se le haya denegado el acceso.</p>
					</li>
					<li>PROPIEDAD INTELECTUAL
						<p>Los textos, elementos gráficos y el diseño del sitio web son titularidad exclusiva de FIRMAEXPRESS, sin perjuicio de las imágenes, logos o marcas cuyos derechos pudieran corresponder a terceras empresas. Su reproducción, edición o publicación, en parte o en su totalidad, están terminantemente prohibidas sin consentimiento previo de FIRMAEXPRESS.</p>
						<p>Cualquier signo, denominación o cualquier otro derecho de propiedad industrial que distinga o sirva para distinguir los productos y servicios de FIRMAEXPRESS en el mercado son propiedad de FIRMAEXPRESS. Para la utilización de los mismos en el mercado por parte de terceros que no sea FIRMAEXPRESS se deberá contar con la autorización expresa del mismo.</p>
						<p>FIRMAEXPRESS se reserva el derecho a emprender las oportunas acciones legales en caso de actos de confusión, engaño, denigración, comparación, imitación, explotación de la reputación ajena, incorporación de referencias ocultas en sitios de Internet perjudiciales para FIRMAEXPRESS, o cualquier otra conducta análoga o similar que perjudique sus legítimos derechos de propiedad.</p>
					</li>
					<li>OBLIGACIONES DE LOS USUARIOS
						<p>En la utilización del presente sitio web, el usuario se obliga a:</p>
						<ol>
							<li>Cumplir las presentes condiciones y términos de uso y obrar conforme a la ley y la buena fe, absteniéndose de utilizar el presente sitio web de cualquier forma que pueda impedir, dañar o deteriorar el normal funcionamiento del mismo, los bienes o derechos de FIRMAEXPRESS, del resto de usuarios o de cualquier tercero.</li>
							<li>Custodiar diligentemente el nombre de usuario y la contraseña para acceder al servicio y no ceder su uso ni permitir el acceso de terceros, asumiendo la responsabilidad por los daños y perjuicios que pudieran derivarse de un uso indebido del sitio web o la información en él contenida.</li>
							<li>Facilitar información actualizada, exacta y veraz cuando le sea solicitada por FIRMAEXPRESS.</li>
							<li>No introducir, almacenar o difundir en o desde el sitio web, cualquier información o material contrario a la legalidad o al orden público.</li>
							<li>No introducir, almacenar o difundir mediante el sitio web ningún programa de ordenador, datos, virus, código, o cualquier otro fichero que sea susceptible de causar daños o cualquier tipo de alteración en el sitio web, en cualquiera de los servicios, o en cualquiera de los sistemas o redes de FIRMAEXPRESS, de cualquier usuario o tercero, que pueda impedir el normal funcionamiento de los mismos o permitir el robo de la información y datos personales que allí se almacenan. En general, no hacer un uso no permitido o ilegal de los recursos que FIRMAEXPRESS ponga a su disposición para el desarrollo del servicio.</li>
						</ol>
						El Usuario, responderá de los daños y perjuicios que FIRMAEXPRESS pueda sufrir como consecuencia del incumplimiento de cualquiera de las obligaciones aquí determinadas.
					</li>
					<li>PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL
						<p>FIRMAEXPRESS cumplirá, en todo momento, tanto lo dispuesto en la Ley Chilena como Internacional con relación a Protección de Datos de Carácter Personal. Asimismo cumplirá lo previsto en la demás normativa vigente en materia de protección de datos de carácter personal, y aplicará las medidas de carácter técnico y organizativo que sean necesarias, a fin de dotar del correspondiente nivel de seguridad a los ficheros que contengan datos facilitados por los usuarios a través de este Portal.</p>
						<p>Los datos personales del usuario serán tratados con la finalidad de mantener y gestionar la relación contractual que mantiene con FIRMAEXPRESS, prestarle adecuadamente los servicios contratados, así como para la gestión de la facturación que se derive de la prestación de tales servicios. Salvo marcación de la casilla específicamente destinada al efecto en el momento de la recogida de sus datos, sus datos personales no serán tratados con finalidades comerciales, concretamente comunicaciones comerciales directas acerca de los productos, servicios, ofertas y promociones de FIRMAEXPRESS. En caso de desear recibir este tipo de información por medios electrónicos, debe marcar la casilla correspondiente en el formulario de registro. En todo momento podrá revocar su consentimiento a dichos envíos mediante el formulario respectivo y concretar su solicitud.</p>
						<p>En todo caso, FIRMAEXPRESS garantiza que sus datos personales no se utilizarán con fines distintos a los mencionados en esta cláusula y que el tratamiento de los mismos se realizará bajo la más estricta confidencialidad y en pleno cumplimiento de las obligaciones y garantías que establece la ley.</p>
						<p>Como usuario, podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos de carácter personal, mediante el envío de un email a la dirección de correo electrónico privacidad@FIRMAEXPRESS.com, incluyendo copia de su DNI y concretando su solicitud. Como usuario, usted es responsable de que los datos que nos aporta y que consten en la ficha de usuario sean reales, actuales y de su propia titularidad.</p>
						<p>El usuario deberá proporcionar los datos solicitados en proceso de contratación de manera obligatoria. En todo caso el Cliente deberá otorgar veracidad y exactitud de los datos de carácter personal que en su caso se aporten.</p>
						<br>
						<strong>Tratamiento de datos de los usuarios por parte de FIRMAEXPRESS</strong>
						<p>Para aquellos datos titularidad de los usuarios a los que FIRMAEXPRESS tenga acceso en condición de Encargado del tratamiento, reconoce expresamente que los datos cedidos contenidos en dichos ficheros son de exclusiva propiedad del Responsable del tratamiento, por lo tanto los datos contenidos en éstos no serán utilizados con fines distintos a los previstos en el presente contrato. El mismo tratamiento recibirán los datos que se añadan a estos ficheros con posterioridad a la aceptación de las presentes Condiciones Generales, las cuales tienen plena consideración de contrato electrónico.</p>
						<p>Una vez finalizada la prestación de los servicios de tratamiento de datos personales o resuelto el contrato, FIRMAEXPRESS, destruirá por completo todos los datos personales tratados y sus copias, a menos que la legislación aplicable impida destruir total o parcialmente dichos datos. En tal caso, FIRMAEXPRESS procederá a su bloqueo durante el plazo legalmente establecido.</p>
						<p>FIRMAEXPRESS no utilizará los datos con fin distinto al que figure en este contrato, ni los comunicará, ni siquiera para su conservación, a otras personas distintas del Responsable del Fichero o aquellos encargados del tratamiento cuyos servicios utilice, previa firma de contrato con los mismos que garantice la confidencialidad de los datos conforme a lo estipulado.</p>
						<p>FIRMAEXPRESS asegura que ha implementado las medidas técnicas y organizativas oportunas de cara al mantenimiento del deber de secreto y confidencialidad sobre los datos contenidos en las comunicaciones y ficheros adjuntos.</p>
						<p>FIRMAEXPRESS asegura la implantación de las medidas técnicas y organizativas exigidas por la normativa para el tratamiento de la información a la que tenga acceso y habilitará todas las medidas de seguridad a su alcance para evitar la alteración, pérdida, tratamiento o acceso no autorizado de la información, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos.</p>
						<p>Dichas obligaciones subsistirán aún con posterioridad a la finalización de la prestación objeto del presente contrato, sin límite temporal alguno.</p>
					</li>
					<li>JURISDICCIÓN Y LEY APLICABLE
						<p>Lo no dispuesto en estos Condiciones Generales de uso se regirá por las leyes chilenas vigentes. Toda controversia que no sea resuelta amistosamente quedará sometida a la jurisdicción de los Juzgados y Tribunales de Santiago de Chile.</p>
						<p>La versión vigente de las condiciones permanecerá publicada en la página web para su consulta. Es, por tanto, responsabilidad del usuario conservar copia de las condiciones aceptadas para realizar cualquier reclamación posterior.</p>
					</li>
				</ol>
			</li>
			<li>CONDICIONES GENERALES DE CONTRATACIÓN
				<ol>
					<li>OBJETO
						<p>Se enuncian en el presente documento las condiciones generales de contratación del servicio de FIRMAEXPRESS.COM.</p>
						<p>El Servicio se presta al Cliente en su condición de destinatario o usuario final del mismo, quedando estrictamente prohibido la reventa o comercialización del Servicio, así como la cesión del presente Contrato.</p>
						<p>El Servicio está disponible para personas físicas mayores de 18 años y personas jurídicas constituidas.</p>
						<p>Las presentes Condiciones Generales de Contratación son complementarias de las Condiciones Generales de Uso del Sitio Web y su aceptación está condicionada a la previa aceptación de las mismas.</p>
					</li>
					<li>CARACTERÍSTICAS DEL SERVICIO
						<p>El Servicio consiste en la prestación de servicios por parte de FIRMAEXPRESS como plataforma para subir, almacenar y enviar documentos electrónicos y aplicar en ellos firmas simples que tienen como objeto ayudar a formar el consentimiento y aumentar la confianza entre las partes, y por lo tanto no representa un medio de plena prueba entre las partes, de manera que el usuario al registrarse y usar el servicio no puede invocar a FIRMAEXPRESS con un propósito diferente para el cual ha sido constituido.</p>
						<p>Las presentes condiciones contractuales tienen por objeto regular la intervención de FIRMAEXPRESS en la certificación de mensajes y contenidos solicitada por los Usuarios. En virtud de dicha intervención, FIRMAEXPRESS pone a disposición de los Usuarios medios electrónicos, informáticos y telemáticos para el envío de documentación y formalización de contratos, sin embargo no ejercita las labores de testigo tercero independiente.</p>
						<p>En concreto, FIRMAEXPRESS pone a disposición de los usuarios los siguientes servicios, cuya descripción y tabla de tarifas vigente en cada momento se encontrará actualizada en la página web:</p>
						<ol style="list-style-type:lower-alpha;">
							<li>Firma electrónica simple</li>
							<li>Repositorio virtual de documentos propios</li>
						</ol>
						<p>Los medios electrónicos, informáticos y telemáticos que FIRMAEXPRESS pone a disposición de los Usuarios para permitir el envío de documentación así como la formalización de contratos, ofrecen soporte a los siguientes procedimientos, siendo de aplicación, en cada momento, aquel que responda a la naturaleza del documento que los Usuarios se remitan así como al promotor de su envío.</p>
						<p>Los usuarios pueden acordar utilizar los procedimientos previamente detallados conforme a las instrucciones de cada servicio y, en todo caso, con la diligencia exigible en atención a la finalidad pretendida con tal acuerdo. En este contexto, el usuario será siempre el EMISOR de aquellas comunicaciones que envíe por sus propios medios. Los Usuarios, al utilizar los medios que FIRMAEXPRESS pone a su disposición en la <a href="https://firmaexpres.com">página web</a> otorgan plena validez y eficacia a las comunicaciones y a los contratos que suscriban conforme a los procedimientos previamente descritos.</p>
						<p>Los procedimientos descritos no requieren que FIRMAEXPRESS acceda, en ningún momento, al contenido de los documentos que el Emisor pone a disposición del Receptor, en su virtud, FIRMAEXPRESS no accederá a la información contenida en los mismos ni la utilizará con una finalidad distinta a la necesaria para la prestación del servicio.</p>
					</li>
					<li>DURACIÓN DEL CONTRATO
						<p>El presente Contrato se aplicará con carácter indefinido en tanto el usuario haga uso de la herramienta FIRMAEXPRESS y/o mantenga activa su cuenta en la plataforma.</p>
						<p>FIRMAEXPRESS solamente almacena el asunto y direcciones de origen y destino de los correos electrónicos. Y este almacenamiento se realiza utilizando las medidas de cifrado exigidas por la normativa vigente en la materia. Por ello, es el usuario el responsable de almacenar las evidencias generadas por FIRMAEXPRESS durante el tiempo que considere oportuno atendiendo a la finalidad que motivó su creación.</p>
						<br>
						<strong>Terminación</strong>
						<p>El usuario podrá resolver el presente Contrato unilateralmente y sin necesidad de alegar justa causa en cualquier momento, bastando para ello notificar fehacientemente dicha decisión a FIRMAEXPRESS mediante los medios técnicos establecidos al efecto de baja de usuarios en su panel de administración del perfil.</p>
						<p>La terminación del presente Contrato, por cualquier motivo, implicará que los Usuarios dejen de utilizar los servicios ofrecidos por FIRMAEXPRESS eliminándose, por tanto, aquella información que el Usuario conservase en su perfil.</p>
						<p>No obstante, la terminación del presente Contrato por cualquier causa, no afectará a los compromisos adquiridos por las partes respecto de los documentos, los certificados y las evidencias electrónicas que, con causa en el presente Contrato, FIRMAEXPRESS hubiera facilitado a los Usuarios en su condición de testigo tercero independiente.</p>
					</li>
					<li>PRECIOS, FACTURACIÓN Y PAGO
						<p>El servicio prestado por FIRMAEXPRESS es sufragado íntegramente por el EMISOR, de acuerdo con las tarifas recogidas en el panel de precios de la página web FIRMAEXPRESS.com, a excepción de otros servicios accesorios que puedan ser solicitados y que serán facturados por FIRMAEXPRESS a la parte que los solicite.</p>
						<p>El usuario deberá abonar los precios correspondientes al Servicio prestado conforme a las tarifas o demás condiciones particulares, ofertas o promociones en vigor en el momento de utilización del Servicio y facilitadas al Cliente en el momento de suscripción del Contrato, y previamente conocidas por éste.</p>
						<p>Cualquier usuario podrá acceder a la información actualizada sobre los precios aplicables en cualquier momento durante la vigencia del Contrato a través de los medios referidos en este párrafo.</p>
					</li>
					<li>SECRETO DE LAS COMUNICACIONES
						<p>FIRMAEXPRESS adoptará las medidas técnicas y organizativas necesarias conforme a la legislación vigente a fin de garantizar el secreto de las comunicaciones. En cualquier caso, FIRMAEXPRESS quedará exonerada de toda responsabilidad que pudiera derivarse de la obtención de contenido confidencial, de su uso o publicidad por parte del Cliente o por terceros y, en general, de cuantas acciones u omisiones que, no siendo imputables a FIRMAEXPRESS, supongan un quebrantamiento del secreto de las comunicaciones electrónicas.</p>
					</li>
					<li>GARANTÍAS
						<p>En este apartado se exponen las garantías generales para todos los servicios pero se estará a lo que se disponga en la descripción de los servicios actualizada en la página web para fijar las características particulares de los mismos.</p>
						<ol style="list-style-type:upper-alpha;">
							<li>De la Calidad del Servicio
								<p>FIRMAEXPRESS garantiza la adecuada prestación de los servicios descritos en el presente Contrato siempre que los Usuarios empleen adecuadamente y conforme a las instrucciones de FIRMAEXPRESS, los medios puestos a su disposición.</p>
								<p>FIRMAEXPRESS no se responsabiliza de verificar la identidad del USUARIO de los servicios. En consecuencia, FIRMAEXPRESS se exonera de responsabilidad en caso de que acceda al sistema un Receptor que no sea quien dice ser o que acceda a un documento un Receptor que no fuera el destinatario del mismo.</p>
								<p>El acceso a la página web no implica la obligación por parte de FIRMAEXPRESS, de controlar la ausencia de virus o cualquier otro elemento informático dañino. Corresponde a los Usuarios, en todo caso, la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos dañinos.</p>
								<p>FIRMAEXPRESS no se responsabiliza de los daños producidos en los elementos físicos y/o lógicos de los equipos informáticos de los Usuarios o de terceros, durante la prestación del servicio objeto del presente Contrato.</p>
							</li>
							<li>De la Disponibilidad del Servicio
								<p>El acceso a la página web requiere de servicios y suministros de terceros, incluidos el transporte a través de redes de telecomunicaciones, cuya fiabilidad, calidad, continuidad y funcionamiento no corresponde a FIRMAEXPRESS. Por consiguiente, los servicios provistos a través de la página web pueden ser suspendidos, cancelados o resultar inaccesibles, con carácter previo o simultáneo a la prestación del servicio objeto del presente Contrato.</p>
								<p>FIRMAEXPRESS no se responsabiliza de los daños o perjuicios de cualquier tipo que puedan sufrir los Usuarios, que traigan causa de fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción de los servicios durante la prestación de los mismos o con carácter previo.</p>
							</li>
							<li>De la Admisión como Prueba de los Documentos Tramitados
								<p>FIRMAEXPRESS es un servicio ideado con un propósito específico; en esencia, despojar a la prueba electrónica de dudas sobre su veracidad e integridad, dudas estas que nacen en el carácter unilateral de la misma.</p>
								<p>Para lograr este propósito, FIRMAEXPRESS pondrá a disposición de los usuarios del servicio un proceso de comunicación entre ausentes, cuya principal característica es el concurso en el mismo de entidades certificadoras independientes.</p>
								<p>En relación con lo antedicho, FIRMAEXPRESS garantizará la generación de los ficheros de prueba cursados a través del servicio, de acuerdo con lo especificado en las condiciones específicas de cada servicio.</p>
								<p>La efectiva admisión de los distintos medios de prueba supone una decisión subjetiva de los órganos jurisdiccionales, arbitrales o administrativos, que pudiera basarse en criterios de admisibilidad como la utilidad o la pertinencia que nada tiene que ver con la prestación del servicio contratado. En consecuencia con lo anterior, FIRMAEXPRESS no puede garantizar la efectiva admisión de (i) El procedimiento y (ii) El documento generado por FIRMAEXPRESS, acreditativo del proceso de comunicación realizado con la participación de FIRMAEXPRESS como testigo tercero independiente.</p>
								<p>A efectos de interpretación de esta cláusula, “acceso directo” se entenderá el acceso de los propios órganos judiciales, arbitrales o administrativos o el acceso de terceros debidamente habilitados por éstos, con la finalidad de verificar la existencia de ficheros específicos y/o auditar el procedimiento y/o los sistemas informáticos de FIRMAEXPRESS.</p>
							</li>
							<li>Responsabilidad en cuanto al Contenido de los Documentos
								<p>FIRMAEXPRESS no accede y, en consecuencia, no examina el contenido de los documentos que los Usuarios se intercambian en virtud de los servicios objeto del presente Contrato. En consecuencia, FIRMAEXPRESS no será responsable de dichos contenidos en tanto en cuanto no tenga un conocimiento efectivo de los mismos según lo dispuesto en el citado artículo.</p>
								<p>Asimismo, si los contratos objeto de tramitación no cumplieran los requisitos que la legislación nacional exige dada su consideración de contratos electrónicos y, en consecuencia, los mismos carecieran de validez jurídica, FIRMAEXPRESS se exonera de toda responsabilidad al respecto puesto que los mismos son facilitados por el Emisor, no teniendo FIRMAEXPRESS acceso o conocimiento de su contenido y siendo, en definitiva, FIRMAEXPRESS ajeno a la relación contractual que los mismos pretenden establecer y/o regular.</p>
							</li>
						</ol>
					</li>
					<li>MODIFICACIONES CONTRACTUALES
						<p>FIRMAEXPRESS podrá realizar modificaciones al presente Contrato notificándolo al Cliente con una antelación mínima de un (1) mes a su entrada en vigor. En caso de que el Cliente no aceptase las nuevas condiciones y así lo notificase a FIRMAEXPRESS, podrá resolver el Contrato de manera anticipada y sin penalización alguna. Si, transcurrido el plazo de un (1) mes desde la notificación por FIRMAEXPRESS, el Cliente no hubiese manifestado expresamente su disconformidad, o bien el Cliente utilizara el Servicio con posterioridad a la entrada en vigor de la modificación anunciada, se entenderá que acepta las modificaciones propuestas. La comunicación al Cliente podrá realizarse, entre otros medios, con previo aviso de la modificación mediante correo electrónico al usuario.</p>
					</li>
					<li>LEY APLICABLE Y FUERO
						<p>Lo no dispuesto en estos Condiciones Generales de Contratación se regirá por las leyes chilenas vigentes. Toda controversia que no sea resuelta amistosamente quedará sometida a la jurisdicción de los Juzgados y Tribunales de Santiago de Chile.</p>
						<p>La versión vigente de las condiciones permanecerá publicada en la página web para su consulta. Es, por tanto, responsabilidad del usuario conservar copia de las condiciones aceptadas para realizar cualquier reclamación posterior.</p>
					</li>
				</ol>
			</li>
		</ol>
	</div>
</div>
<%= render "layouts/footer" %>