<% content_for :title do %>
- Terminos y Condiciones
<% end %>
<div id="container">
	<div id="headline">
		<h3>Terminos y Condiciones</h3>
	</div>
	<div id="info">
		<br>
		<h3>Terminos y Condiciones</h3>
		<br>
		<p>de <strong>Uso</strong>.</p>
		<br>
		</div>
</div>
<%= render "layouts/footer" %>