<h1><%= @document.name %> ha sido firmado por todos</h1>

Estimado <%= @participant.first_name %>,<br>

<p>
	El documento <%= @document.name %> ha sido firmado por todos en <%= @document.agreed_at %>
</p>