@charset "utf-8";
/* CSS Document */

/* --------------Extras-------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
article, aside, dialog, figure, footer, header,
hgroup, nav, section {display:block;}
nav ul {list-style:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}

/* --------------General-------------- */

body{font-size:12px;line-height:15px;color:#FFF;margin:0 auto;min-width:1000px;width:100%;background-color:#FFF;}

/* --------------Textos-------------- */

p{ text-align:justify;}

h1, h2, h3, h4, h5 {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;color:#56aa88;}

h1 {padding:20px 10px; font-size:60px;}
h2 {padding:10px;font-size:30px;}
h3 {font-size:18px; font-weight:normal;}
h4 {text-align:left; font-size:18px; font-weight:normal;}
h5 {text-align:left; padding:10px 30px;font-family: 'Lato', sans-serif; text-transform:uppercase;}

a {color:#FFF; text-decoration:none;}
a:hover {color:#57ab87; text-decoration:none;}
a:active {color:#57ab87; text-decoration:none;}

.left {float:left;padding-left:30px;}
.right {float:right;padding-right:30px;}

#importante {position:relative;float:left;width:62%;display:block;clear:both;height:20px;margin-top:-10px;margin-left:370px;color:#1b1b1b;font-family: 'Lato', sans-serif;font-weight:lighter;}

/* --------------Menú-------------- */

nav { float:right;padding-right:15px;padding-top:15px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:16px;}
nav ul li{float:left;}
nav ul li a{display:block;padding:0 20px;}

/* --------------Header-------------- */
	
header { width:100%; height:45px; background-color: #175892;min-width:1000px; position:fixed;margin-top:-45px;z-index:10;}

#logo {float:left;padding-left:30px;}

/* --------------Container-------------- */

/* --------------Home-------------- */

#containerhome #headline {background:#57ab87;}
#containerhome #headline h3 {color:#FFF;}
#containerhome {width: 100%; clear:both; min-height:600px; background-image:image-url("background.jpg"); background-position:top center; background-repeat:no-repeat;margin-top:45px;margin-bottom:30px;}
#login {height:400px; margin:0 auto;}
#formulariologin {position:absolute;margin-left:70px;margin-top:96px;}
.loginboton {font-family: 'Lato', sans-serif; font-weight:lighter; font-style:italic; font-size:20px;height:40px; background:none; border:none;color:#FFF;margin-top:15px;}
.loginboton:hover {color:#ab8f5a;}
.inputhome {font-family: 'Lato', sans-serif; font-weight:lighter; font-style:italic; font-size:16px;height:25px; background:none; border:none;color:#1b1b1b;}
#slider {padding-top:270px;padding-left:30%; padding-left:400px;float:left;clear:both;display:block;text-align:right;position:absolute;}
#slider h1 {color:#3399ff;font-family: 'Kaushan Script', cursive; font-weight:400;}
#slider h2 {color:#175892;font-family: 'Lato', sans-serif; font-weight:lighter;}
.imagenlogin {margin-left:-200px;}

/* --------------Páginas-------------- */

#container {width: 100%; clear:both; min-height:600px; background-image:image-url("background2.jpg");background-attachment:fixed; background-position:top center; background-repeat:no-repeat; overflow:scroll;margin-top:45px}
#headline {background:rgba(235, 235, 235, 0.8);width:100%;height:30px;text-align:center;padding-top:13px;}
#servicios {background:rgba(255, 255, 255, 0.8);width:100%;height:100px;font-family: 'Lato', sans-serif; font-weight:lighter;font-size: 16px;
line-height: 1.2;color:#1b1b1b;padding-top:20px;border-bottom: 1px solid #CCC;background: none repeat scroll 0% 0% rgba(235, 235, 235, 0.8)}
#pasosfirmaexpress {background:#FFF;width:100%;font-family: 'Lato', sans-serif; font-weight:lighter;font-size:12px;color:#1b1b1b; line-height:1.2;min-width:1000px;}
#pasosfirmaexpress h3 {font-size:38px;margin-top:50px;width:400px;}
#pasosfirmaexpress p {margin:20px 0 50px;width:400px;font-size:16px;line-height:1.2;}
#box_1_3 {position:relative; width:27%;padding:0 10px 0 52px;float:left;display:block;height:auto;}
#box_1_1 {position:relative; width:95%;padding:0 10px 0 52px;float:left;display:block;height:auto;border-bottom: 1px solid #CCC;margin:0 auto;}
#info {color:#1b1b1b;font-family: 'Lato', sans-serif; font-weight:lighter;font-size:12px;width:450px;background-color:#FFF;padding:40px 60px;margin:0 auto;line-height:1.2;}
#info h3 {text-transform:uppercase;}
#infoprices {color:#1b1b1b;font-family: 'Lato', sans-serif; font-weight:lighter;font-size:12px;width:850px;background-color:#FFF;padding:40px 60px;margin:0 auto;line-height:1;}
#mapa {margin-left:-60px;margin-top:-40px;}
.datosextra {font-size:11px; text-align:center;margin-top:15px;}



/* --------------Biblioteca-------------- */

.rightoptions {float:right;margin-top:-30px;margin-right:20px;color:#ab8f5a;font-family: 'Lato', sans-serif;font-weight:lighter;}
#options {width:350px;text-align:right;position:relative;display:block;height:15px;padding:15px 0 15px 45px;}
#options img {float:left;margin-top:-7px;margin-left:15px;background-color:#ccc;-moz-border-radius: 3px;
border-radius: 3px;}
#options img:hover {background-color:#57ab87;}
#options .search {width:140px;height:15px;float:left;margin-top:-7px;padding:5px;border:1px solid #C9C9C9;}
#options .submit {width:35px;height:27px;float:left;padding:0;margin-top:-7px;background:#3399ff;border:1px solid #3399ff;}
#biblioteca {position:absolute;float:left;width:350px;display:block;clear:both;background-color:#e5e5e5;min-height:557px;}
#itemactive {background-color:#FFF;width:350px;text-align:right;position:relative;display:block;height:15px;padding:15px 0 15px 45px;}
#item a {width:350px;text-align:right;position:relative;display:block;height:15px;padding:15px 0 15px 45px;color:#1b1b1b;font-family: 'Lato', sans-serif;font-weight:lighter;}
#itemactivo a {width:350px;text-align:right;position:relative;display:block;height:15px;padding:15px 0 15px 45px;color:#1b1b1b;font-family: 'Lato', sans-serif;font-weight:lighter;background-color:#FFF;}
#item i {color:#57ab87;}
#item h4 {color: #999;}
#item h4:hover {color: #57ab87;}
#itemactivo i {color:#57ab87;}

/* --------------Nuevo Documento-------------- */

#documento {position:relative;float:left;width:62%;display:block;clear:both;height:450px;border:1px solid #999;margin-top:45px;margin-left:370px;min-width:600px;}
#documento a {position:relative;float:left;top:40%; background-image:image-url("backsubir.png"); background-size:154px 30px;height:30px;width:154px;color:#FFF; background-repeat:no-repeat; background-position:center;text-align:center;left:40%;padding-top:10px;}

/* --------------Documentos-------------- */

#containerdocumentos {width: 100%; clear:both; min-height:600px; background:#FFF;margin-top:45px}
#zoom {position:relative;display:block;clear:both; float:right;margin-top:-35px; margin-right:15px;width:70px;text-align:center;color:#ab8f5a;font-family: 'Lato', sans-serif;background-color:#CCC;padding:5px;}
#documento2 img{margin:0 auto;position:relative;display:block;clear:both;}
#documento2 {position:relative;float:left;width:62%;display:block;clear:both;height:450px;border:1px solid #999;margin-top:45px;margin-left:370px;background-color:#707070;min-width:600px; overflow:scroll;}
#optionsdocumento {width:62%;min-width:600px;position:absolute; display:block; clear:both; margin-left:370px;float:left;margin-top:15px;}
#optionsdocumento ul {width:100%;position:relative;display:block;margin:0 auto;}
#optionsdocumento li {width:70px;text-align:center;position:relative;margin-left:10px;display:block;color:#ab8f5a;font-family: 'Lato', sans-serif;float:right;background-color:#CCC;padding:5px;cursor: pointer;}
#optionsdocumento li:hover {background-color:#3399ff;color:#FFF;}

/* --------------Perfil-------------- */

#perfil {position:relative;float:left;width:62%;display:block;clear:both;height:450px;border:1px solid #999;margin-top:45px;margin-left:370px;min-width:600px;font-family: 'Lato', sans-serif;color: #1b1b1b;font-weight:lighter;line-height:1.5;overflow:hidden;}
#perfil p {padding:2px 30px;}
#perfildatos {position:relative;float:left;width:70%;display:block;clear:both;height:450px;font-family: 'Lato', sans-serif;color: #1b1b1b;font-weight:lighter;line-height:1.5; overflow:scroll;}
#perfilestadisticas {position:absolute;float:left;margin-left:70%;width:30%;display:block;clear:both;height:450px;font-family: 'Lato', sans-serif;color: #1b1b1b;font-weight:lighter;line-height:1.5; overflow:scroll;background-color:#e5e5e5;}

/* --------------Footer-------------- */

footer {width: 100%; clear:both; height:25px; font-size:10px; font-family:Tahoma, Geneva, sans-serif; color:#ffffff; background-color:#56aa88;padding-top:8px;bottom:0px;min-width:1000px;font-family: 'Lato', sans-serif; font-weight:lighter;z-index:10;}

/* --------------Contacto-------------- */

label {display:block;margin-top:20px;}
.formulario {display:block;margin:0 auto;width:510px;color: #1b1b1b;}
form {margin:0 auto;width:400px;}
input, textarea {width:380px;height:18px;background:#FFF;border:2px solid #f6f6f6;padding:10px;margin-top:5px;font-size:11px;color:#1b1b1b;font-weight:lighter; font-style:italic;}
textarea {height:100px;}
#submit {width:100px;height:40px;border:none;margin-top:20px;cursor:pointer;background:#3399ff;color:#FFF;font-family: 'Lato', sans-serif; font-weight:lighter; font-style:italic; font-size:16px;}
#submit:hover {background:#57ab87;}

/* --------------Bio-------------- */

#bio {width:450px;border-bottom:1px solid #ccc; height:auto;padding:20px 0;}
#bio p {margin-left:100px;padding-top:10px;border-top:1px solid #ccc;}
#datosbio {position:absolute;margin-left:100px;margin-top:-80px;}
.biodatos {color:#ccc;}
.textobio {margin-top:-20px;}



#bio2 {width:450px;border-bottom:1px solid #ccc; height:auto;padding:10px 0;margin-bottom:25px;}
#bio2 p {padding-top:10px;}
#info2 {color:#1b1b1b;font-family: 'Lato', sans-serif; font-weight:lighter;font-size:12px;width:450px;background-color:#FFF;padding:40px 60px 0 60px;margin:0 auto;line-height:1.2;}
#info2 h3 {text-transform:uppercase;text-align:center;}
.upload-button{position:relative;float:left;top:40%; background-image:image-url("backsubir.png"); background-size:154px 30px;width:154px;color:#FFF; background-repeat:no-repeat; background-position:center;text-align:center;left:40%;padding-top:10px;}
.negro{	color: #000; }