<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-size:13px;margin:0 auto;font-family: 'Lato',sans-serif;font-weight: lighter;">
    <div style="max-width:500px;min-width:400px;height:300px;border:1px solid #175892;margin:20px auto 5px;">
      <div style="background-color:#175892;width:100%;height:30px;text-align:center;padding:10px 0;">
        <%= image_tag "FirmaExpress1.png", { height: 28, style: "text-align:center;" } %>
      </div>
      <div style="padding:25px;text-align:center;">
        <h1 style="font-size:16px;margin:0 0 10px;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;color: #175892;">Cambio de password</h1>

        <h2 style="color:#333;padding:0 15px;font-family: 'Lato', sans-serif;"><strong>Hola <%= @resource.email %>!</strong></h2></br>

        <p style="font-size:16px;margin:0 0 10px;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;line-height: 1.5em;">Usted ha solicitado un link para realizar cambio de Password, puede hacer lo solicitado a continuación.</p>

        <a style="color: white;font-weight: bold;padding: 8px 20px;display: inline-block; background-color: rgb(51, 153, 255);border:1px solid rgb(51, 153, 255);text-decoration:none;" href="<%= @url %>"><%= link_to 'Quiero Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></a>
		
		<p style="font-size:16px;margin:0 0 10px;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;line-height: 1.5em;">>Si usted no solicitó este correo, por favor no lo tome en cuenta.</p>
		
		<p style="font-size:16px;margin:0 0 10px;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;line-height: 1.5em;">Tu password no cambiará hasta que acceda al enlace anterior e introduzca su nueva Password.</p>
      </div>
    </div>
    <div style="max-width:500px;min-width:400px;margin:0 auto;">
      <p style="color:#333;text-align:right;font-size:10px;color:#175892;font-family: 'Lato', sans-serif;">© 2014 FirmaExpress</p>
    </div>
  </body>
</html>
