<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css"> 
body {font-size:13px;color:#FFF;margin:0 auto;min-width:1000px;width:100%;background-color:#FFF;font-family: "Lato",sans-serif;
font-weight: lighter;} 
#mailing {max-width:500px;min-width:400px;height:300px;border:1px solid #175892;margin:20px auto 5px;}
#mailingheader {background-color:#175892;width:100%;height:30px;text-align:center;padding:10px 0;}
#mailcontainer {padding:25px;text-align:center;}
h1 {font-size:16px;margin:0 0 10px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;color: #175892;}
h2 {color:#333;padding:0 15px;font-family: 'Lato', sans-serif;}
p {font-size:16px;margin:0 0 10px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;line-height: 1.5em;}
a {color:#FFF; text-decoration:none;}
a:hover {color:#edc00f; text-decoration:none;}
a:active {color:#edc00f; text-decoration:none;}
a.signUpButton {color: white;font-weight: bold;padding: 8px 20px;display: inline-block; background-color: rgb(51, 153, 255);border:1px solid rgb(51, 153, 255);}
a.signUpButton:hover {color:#175892;border:1px solid #175892;background-color:#ccc;}
#mailingfooter {max-width:500px;min-width:400px;margin:0 auto;}
.footertext {color:#333;text-align:right;font-size:10px;color:#175892;font-family: 'Lato', sans-serif}
</style> 
  </head>
  <body>
    <div id="mailing">
      <div id="mailingheader">
        <%= image_tag "FirmaExpress1.png", { height: 28, style: "text-align:center;" } %>
      </div>
      <div id="mailcontainer">
        <h1>Cambio de password</h1>

        <h2><strong>Hola <%= @resource.email %>!</strong></h2></br>

        <p>Usted ha solicitado un link para realizar cambio de Password, puede hacer lo solicitado a continuación.</p>

        <a class="signUpButton" href="<%= @url %>"><%= link_to 'Quiero Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></a>
		
		<p>Si usted no solicitó este correo, por favor no lo tome en cuenta.</p>
		
		<p>Tu password no cambiará hasta que acceda al enlace anterior e introduzca su nueva Password.</p>
      </div>
    </div>
    <div id="mailingfooter">
      <p class="footertext">© 2014 FirmaExpress</p>
    </div>
  </body>
</html>