<p>Hola <%= @resource.email %>!</p>

<p>Usted ha solicitado un link para realizar cambio de Password, puede hacer lo solicitado a continuación.</p>

<p><%= link_to 'Quiero Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicitó este correo, por favor no lo tome en cuenta..</p>
<p>Tu password no cambiará hasta que acceda al enlace anterior e introduzca su nueva Password.</p>
