<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-size:14px;margin:0 auto;">
    <div style="max-width:500px;min-width:400px;height:300px;border:1px solid #175892;margin:20px auto 5px;">
      <div style="background-color:#175892;width:100%;height:30px;text-align:center;padding:10px 0;">
        <%= image_tag "FirmaExpress1.png", { height:40, style: "text-align:center;" } %>
      </div>
      <div style="padding:25px;text-align:center;">
        <h1 style="font-size:18px;margin:0 0 10px;font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;color: #175892;">Cambio de password</h1>

        <h2 style="color:#333;padding:0 15px;color: #175892;"><strong>Hola <%= @resource.email %>!</strong></h2></br>

        <p style="margin:0 0 10px;">Usted ha solicitado un link para realizar cambio de Password, puede hacer lo solicitado a continuación.</p>

        <a style="color: #FFF;font-weight: bold;padding: 8px 20px;display: inline-block; background-color: rgb(51, 153, 255);border:1px solid rgb(51, 153, 255);text-decoration:none;width:200px;height:50px;" href="<%= @url %>"><%= link_to 'Quiero Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></a>
		
		<p style="margin:0 0 10px;">Si usted no solicitó este correo, por favor no lo tome en cuenta.</p>
		
		<p style="margin:0 0 10px;">Tu password no cambiará hasta que acceda al enlace anterior e introduzca su nueva Password.</p>
      </div>
    </div>
    <div style="max-width:500px;min-width:400px;margin:0 auto;">
      <p style="color:#333;text-align:right;font-size:10px;color:#175892;">© 2014 FirmaExpress</p>
    </div>
  </body>
</html>