<footer>
	<p class="left">Derechos Reservados a <strong>Firma Express 2014</strong> / <a href="terms.html">Términos y Condiciones</a> / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <strong>Mail:</strong> contacto@firmaexpress.cl</p>
</footer>