<footer>
	<p class="left">Todos los Derechos Reservados a Firma Express 2014<!-- / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>-->.</p>
	<p class="right"><!--Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / -->Mail: contacto@firmaexpress.cl</p>
</footer>